.gras{font-weight: bold;} /*Mettre en gras*/
.tab20 {margin: 0px 0px 0px 20px}/* faire une marge de 20px*/
.tab40 {margin: 0px 0px 0px 40px}/* faire une marge de 40px*/
.souligner{text-decoration: underline;}/*souligner une phrase ou un mot*/
.italic {font-style: italic;}/* Mettre en italic*/
.tab30 {margin: 0px 0px 0px 30px}/* faire une marge de 30px*/
.petit {font-size: smaller}/* ratécir l'écriture*/
.vert{color: green}/*Mettre le mot en vert*/
.rouge{color: red}/*Mettre le mot en rouge*/
.Arial{font-family: Arial}/*mettre la police en Arila*/
.fondbleu{background-color: blue}
